<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://gsa-ocsit.github.io/Open-Data-Collaboration-Sandbox/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://gsa-ocsit.github.io/Open-Data-Collaboration-Sandbox/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://gsa-ocsit.github.io/Open-Data-Collaboration-Sandbox/stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Open Data Sandbox</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Open Data Sandbox</h1>
          <h2>A sandbox for loose collaboration on assorted open data projects</h2>
        </header>
        
        <section id="downloads" class="clearfix">
          <a href="http://gsa-ocsit.github.io/Open-Data-Collaboration-Sandbox/" id="view-on-github" class="button"><span>Home</span></a>
          <a href="https://github.com/GSA-OCSIT/Open-Data-Collaboration-Sandbox" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>



        <hr>

        <section id="main_content">
